ui-tienda/src/wsdl/localhost_8080/ProductoWebServiceService/ProductoWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.tienda.ws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.tienda.ws.com/" name="ProductoWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.tienda.ws.com/" schemaLocation="http://localhost:8080/ProductoWebServiceService/ProductoWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getProducto">
<part name="parameters" element="tns:getProducto"/>
</message>
<message name="getProductoResponse">
<part name="parameters" element="tns:getProductoResponse"/>
</message>
<message name="getProductos">
<part name="parameters" element="tns:getProductos"/>
</message>
<message name="getProductosResponse">
<part name="parameters" element="tns:getProductosResponse"/>
</message>
<message name="crearProducto">
<part name="parameters" element="tns:crearProducto"/>
</message>
<message name="crearProductoResponse">
<part name="parameters" element="tns:crearProductoResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="eliminarProducto">
<part name="parameters" element="tns:eliminarProducto"/>
</message>
<message name="eliminarProductoResponse">
<part name="parameters" element="tns:eliminarProductoResponse"/>
</message>
<message name="editarProducto">
<part name="parameters" element="tns:editarProducto"/>
</message>
<message name="editarProductoResponse">
<part name="parameters" element="tns:editarProductoResponse"/>
</message>
<portType name="ProductoWebService">
<operation name="getProducto">
<input wsam:Action="http://ws.tienda.ws.com/ProductoWebService/getProductoRequest" message="tns:getProducto"/>
<output wsam:Action="http://ws.tienda.ws.com/ProductoWebService/getProductoResponse" message="tns:getProductoResponse"/>
</operation>
<operation name="getProductos">
<input wsam:Action="http://ws.tienda.ws.com/ProductoWebService/getProductosRequest" message="tns:getProductos"/>
<output wsam:Action="http://ws.tienda.ws.com/ProductoWebService/getProductosResponse" message="tns:getProductosResponse"/>
</operation>
<operation name="crearProducto">
<input wsam:Action="http://ws.tienda.ws.com/ProductoWebService/crearProductoRequest" message="tns:crearProducto"/>
<output wsam:Action="http://ws.tienda.ws.com/ProductoWebService/crearProductoResponse" message="tns:crearProductoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.tienda.ws.com/ProductoWebService/crearProducto/Fault/Exception"/>
</operation>
<operation name="eliminarProducto">
<input wsam:Action="http://ws.tienda.ws.com/ProductoWebService/eliminarProductoRequest" message="tns:eliminarProducto"/>
<output wsam:Action="http://ws.tienda.ws.com/ProductoWebService/eliminarProductoResponse" message="tns:eliminarProductoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.tienda.ws.com/ProductoWebService/eliminarProducto/Fault/Exception"/>
</operation>
<operation name="editarProducto">
<input wsam:Action="http://ws.tienda.ws.com/ProductoWebService/editarProductoRequest" message="tns:editarProducto"/>
<output wsam:Action="http://ws.tienda.ws.com/ProductoWebService/editarProductoResponse" message="tns:editarProductoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.tienda.ws.com/ProductoWebService/editarProducto/Fault/Exception"/>
</operation>
</portType>
<binding name="ProductoWebServicePortBinding" type="tns:ProductoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProductoWebServiceService">
<port name="ProductoWebServicePort" binding="tns:ProductoWebServicePortBinding">
<soap:address location="http://localhost:8080/ProductoWebServiceService/ProductoWebService"/>
</port>
</service>
</definitions>