ui-tienda/src/wsdl/Dennys503_8080/ClienteWebServiceService/ClienteWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.tienda.ws.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.tienda.ws.com/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="crearCliente" type="tns:crearCliente"/>

<xs:element name="crearClienteResponse" type="tns:crearClienteResponse"/>

<xs:element name="eliminarCliente" type="tns:eliminarCliente"/>

<xs:element name="eliminarClienteResponse" type="tns:eliminarClienteResponse"/>

<xs:element name="getCliente" type="tns:getCliente"/>

<xs:element name="getClienteResponse" type="tns:getClienteResponse"/>

<xs:element name="getClientes" type="tns:getClientes"/>

<xs:element name="getClientesResponse" type="tns:getClientesResponse"/>

<xs:complexType name="eliminarCliente">
<xs:sequence>
<xs:element name="idCliente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarClienteResponse">
<xs:sequence>
<xs:element name="returnMsgCliente" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearCliente">
<xs:sequence>
<xs:element name="idCliente" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="idCliente" type="xs:int" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearClienteResponse">
<xs:sequence>
<xs:element name="returnCliente" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCliente">
<xs:sequence>
<xs:element name="idCliente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getClienteResponse">
<xs:sequence>
<xs:element name="returnCliente" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getClientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getClientesResponse">
<xs:sequence>
<xs:element name="returnClientes" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>