ui-tienda/src/wsdl/localhost_8080/ClienteWebServiceService/ClienteWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.tienda.ws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.tienda.ws.com/" name="ClienteWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.tienda.ws.com/" schemaLocation="http://localhost:8080/ClienteWebServiceService/ClienteWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getClientes">
<part name="parameters" element="tns:getClientes"/>
</message>
<message name="getClientesResponse">
<part name="parameters" element="tns:getClientesResponse"/>
</message>
<message name="crearCliente">
<part name="parameters" element="tns:crearCliente"/>
</message>
<message name="crearClienteResponse">
<part name="parameters" element="tns:crearClienteResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="editarCliente">
<part name="parameters" element="tns:editarCliente"/>
</message>
<message name="editarClienteResponse">
<part name="parameters" element="tns:editarClienteResponse"/>
</message>
<message name="getCliente">
<part name="parameters" element="tns:getCliente"/>
</message>
<message name="getClienteResponse">
<part name="parameters" element="tns:getClienteResponse"/>
</message>
<message name="eliminarCliente">
<part name="parameters" element="tns:eliminarCliente"/>
</message>
<message name="eliminarClienteResponse">
<part name="parameters" element="tns:eliminarClienteResponse"/>
</message>
<portType name="ClienteWebService">
<operation name="getClientes">
<input wsam:Action="http://ws.tienda.ws.com/ClienteWebService/getClientesRequest" message="tns:getClientes"/>
<output wsam:Action="http://ws.tienda.ws.com/ClienteWebService/getClientesResponse" message="tns:getClientesResponse"/>
</operation>
<operation name="crearCliente">
<input wsam:Action="http://ws.tienda.ws.com/ClienteWebService/crearClienteRequest" message="tns:crearCliente"/>
<output wsam:Action="http://ws.tienda.ws.com/ClienteWebService/crearClienteResponse" message="tns:crearClienteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.tienda.ws.com/ClienteWebService/crearCliente/Fault/Exception"/>
</operation>
<operation name="editarCliente">
<input wsam:Action="http://ws.tienda.ws.com/ClienteWebService/editarClienteRequest" message="tns:editarCliente"/>
<output wsam:Action="http://ws.tienda.ws.com/ClienteWebService/editarClienteResponse" message="tns:editarClienteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.tienda.ws.com/ClienteWebService/editarCliente/Fault/Exception"/>
</operation>
<operation name="getCliente">
<input wsam:Action="http://ws.tienda.ws.com/ClienteWebService/getClienteRequest" message="tns:getCliente"/>
<output wsam:Action="http://ws.tienda.ws.com/ClienteWebService/getClienteResponse" message="tns:getClienteResponse"/>
</operation>
<operation name="eliminarCliente">
<input wsam:Action="http://ws.tienda.ws.com/ClienteWebService/eliminarClienteRequest" message="tns:eliminarCliente"/>
<output wsam:Action="http://ws.tienda.ws.com/ClienteWebService/eliminarClienteResponse" message="tns:eliminarClienteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.tienda.ws.com/ClienteWebService/eliminarCliente/Fault/Exception"/>
</operation>
</portType>
<binding name="ClienteWebServicePortBinding" type="tns:ClienteWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ClienteWebServiceService">
<port name="ClienteWebServicePort" binding="tns:ClienteWebServicePortBinding">
<soap:address location="http://localhost:8080/ClienteWebServiceService/ClienteWebService"/>
</port>
</service>
</definitions>