ui-tienda/src/wsdl/localhost_8080/OrdenWebServiceService/OrdenWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.tienda.ws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.tienda.ws.com/" name="OrdenWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.tienda.ws.com/" schemaLocation="http://localhost:8080/OrdenWebServiceService/OrdenWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getOrden">
<part name="parameters" element="tns:getOrden"/>
</message>
<message name="getOrdenResponse">
<part name="parameters" element="tns:getOrdenResponse"/>
</message>
<message name="crearOrden">
<part name="parameters" element="tns:crearOrden"/>
</message>
<message name="crearOrdenResponse">
<part name="parameters" element="tns:crearOrdenResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="eliminarOrden">
<part name="parameters" element="tns:eliminarOrden"/>
</message>
<message name="eliminarOrdenResponse">
<part name="parameters" element="tns:eliminarOrdenResponse"/>
</message>
<message name="editarOrden">
<part name="parameters" element="tns:editarOrden"/>
</message>
<message name="editarOrdenResponse">
<part name="parameters" element="tns:editarOrdenResponse"/>
</message>
<message name="getOrdenes">
<part name="parameters" element="tns:getOrdenes"/>
</message>
<message name="getOrdenesResponse">
<part name="parameters" element="tns:getOrdenesResponse"/>
</message>
<portType name="OrdenWebService">
<operation name="getOrden">
<input wsam:Action="http://ws.tienda.ws.com/OrdenWebService/getOrdenRequest" message="tns:getOrden"/>
<output wsam:Action="http://ws.tienda.ws.com/OrdenWebService/getOrdenResponse" message="tns:getOrdenResponse"/>
</operation>
<operation name="crearOrden">
<input wsam:Action="http://ws.tienda.ws.com/OrdenWebService/crearOrdenRequest" message="tns:crearOrden"/>
<output wsam:Action="http://ws.tienda.ws.com/OrdenWebService/crearOrdenResponse" message="tns:crearOrdenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.tienda.ws.com/OrdenWebService/crearOrden/Fault/Exception"/>
</operation>
<operation name="eliminarOrden">
<input wsam:Action="http://ws.tienda.ws.com/OrdenWebService/eliminarOrdenRequest" message="tns:eliminarOrden"/>
<output wsam:Action="http://ws.tienda.ws.com/OrdenWebService/eliminarOrdenResponse" message="tns:eliminarOrdenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.tienda.ws.com/OrdenWebService/eliminarOrden/Fault/Exception"/>
</operation>
<operation name="editarOrden">
<input wsam:Action="http://ws.tienda.ws.com/OrdenWebService/editarOrdenRequest" message="tns:editarOrden"/>
<output wsam:Action="http://ws.tienda.ws.com/OrdenWebService/editarOrdenResponse" message="tns:editarOrdenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.tienda.ws.com/OrdenWebService/editarOrden/Fault/Exception"/>
</operation>
<operation name="getOrdenes">
<input wsam:Action="http://ws.tienda.ws.com/OrdenWebService/getOrdenesRequest" message="tns:getOrdenes"/>
<output wsam:Action="http://ws.tienda.ws.com/OrdenWebService/getOrdenesResponse" message="tns:getOrdenesResponse"/>
</operation>
</portType>
<binding name="OrdenWebServicePortBinding" type="tns:OrdenWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editarOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getOrdenes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OrdenWebServiceService">
<port name="OrdenWebServicePort" binding="tns:OrdenWebServicePortBinding">
<soap:address location="http://localhost:8080/OrdenWebServiceService/OrdenWebService"/>
</port>
</service>
</definitions>